.grid-image {
  @media screen and (min-width: 0px) and (max-width: 1024px) {
    width: 100%;
  }
  @media screen and (min-width: 2000px) and (max-width: 4000px) {
    width: 100%;
  }
}
.grid-height {
  @media screen and (min-width: 2000px) and (max-width: 4000px) {
    height: 100%;
    width: auto;
  }
}

.grid-text {
  position: relative;
  bottom: 25%;
  left: 5%;
  width: 300px;
  max-width: 500px;
  @media screen and (min-width: 0px) and (max-width: 900px) {
    bottom: 43%;
    width: 270px;
  }
}
.view-work {
  position: relative;
  bottom: 70%;
  left: 5%;
  @media screen and (min-width: 0px) and (max-width: 900px) {
    bottom: 56%;
  }
}
